.row {
    display: flex;
}

.filters {
    flex: 15%;
}

.goods-table {
    flex: 85%;
}

.goods-table tbody tr {
    border-bottom: none;
}

/* Add vertical borders between table columns */
.goods-table td, .goods-table th {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 8px;
    text-align: left;
}

/* Add top and bottom border to the header row */
.goods-table thead tr {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.column-actions, .column-quantity, .column-price {
    width: 10%;
}

.column-description {
    width: 20%;
}

.column-producer, .column-name, .column-group {
    width: 15%
}


/* Custom colors for buttons */
.edit-button {
    background-color: violet !important;
}

.delete-button {
    background-color: red !important;
}

/* Add space between buttons */
.buttonWithMargins {
    margin: 10px;
}