.row {
    display: flex;
}

.filters {
    flex: 15%;
}

.goods-table {
    flex: 85%;
}

/* Custom colors for buttons */
.edit-button {
    background-color: #6b6bfa !important;
}

.delete-button {
    background-color: #e86173 !important;
}

/* Add space between buttons */
.buttonWithMargins {
    margin: 10px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.multiline-button {
    white-space: normal;
}
